@font-face {
  font-family: 'font1';
  src: url(./assets/fonts/segoeuil.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url(./assets/fonts/segoeuibold.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: font1;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fullWidth {
  width: 100%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.centerImage {
  margin: auto;
  display: block;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.o-hidden {
  overflow: hidden;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
}

.navbar {
  padding: 0.5rem 7.3rem;
  z-index: 1000;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 2rem;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-family: font2;
  font-size: 32px;
}

.bigbutton {
  background: #009b72;
  color: white !important;
  border-radius: 100px;
  padding: 6px 18px 9px 18px !important;
  text-align: center;
}

.ballon1 {
  position: absolute;
  right: auto;
  left: 0;
  top: auto;
  bottom: 0;
  height: 50% !important;
  width: 50% !important;
  display: block;
  /* overflow: hidden; */
}

.ballon1Image {
  left: -5vw;
  position: absolute;
  bottom: 3vw;
  z-index: 0;
  transform: scale(3);
  mask-image: url('../src/assets/img/blob-1.svg');
  webkit-mask-image: url('../src/assets/img/blob-1.svg');
  mask-size: 100% 100%;
  right: auto;
  top: auto;
  height: 50%;
  width: 50%;
  background: linear-gradient(to right, #009b72, #046865) !important;
}

.ballon2 {
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  bottom: auto;
  height: 50% !important;
  width: 50% !important;
  display: block;
  overflow: hidden;
}

.ballon2Image {
  right: -5vw;
  position: absolute;
  top: -5vw;
  z-index: 0;
  transform: scale(3);
  mask-image: url('../src/assets/img/blob-2.svg');
  webkit-mask-image: url('../src/assets/img/blob-2.svg');
  mask-size: 100% 100%;
  left: auto;
  bottom: auto;
  height: 50%;
  width: 50%;
  background: linear-gradient(to right, #009b72, #046865) !important;
}

.row1 {
  font-family: font2;
  font-size: 58px;
  padding: 70px 10px;
}

.row2,
.row3 {
  z-index: 90;
  position: relative;
}

input[type="text"] {
  padding: 12px 23px;
  width: 40%;
  border-radius: 20px;
  border: 0.1px solid gray;
  font-size: 19px;
}

a:hover {
  text-decoration: none;
}

.row3 span {
  display: inline-block;
  background: #009b72;
  ;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 7px;
  vertical-align: middle;
  margin-right: 5px;
}

.divider {
  width: 100%;
  position: relative;
  height: 10vw;
  pointer-events: none;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml;utf8,%3csvg viewBox='0 0 100 100' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cpath d='M0,0 C16.6666667,66 33.3333333,98 50,98 C66.6666667,98 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z' fill='%23fff'/%3e%3c/svg%3e");
  -webkit-mask-size: 100% 101%;
  mask-size: 100% 101%;
  background: #192d35 !important;
  top: 1px;
  margin-top: calc(7.5rem - 5vw);
}

.partTwo {
  background: #192d35 !important;
  z-index: 100;
  position: relative;
  color: white;
  padding: 50px 101px;
}

.partTwo img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.partTwo span {
  display: block;
  padding: 40px 57px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 0.05) !important;
  margin-bottom: 30px;
}

.partTwo span h4 {
  font-family: font2;
}

.partTwo h1,
.partThree h1 {
  margin-bottom: 35px;
  font-family: font2;
}

.partThree {
  background-color: #F7F9FC !important;
  padding: 90px 187px;
}

.partThree .p1 {
  font-size: 20px;
  padding: 0px 203px;
  margin-top: -23px;
  margin-bottom: 55px;
}

.partThree span {
  display: block;
  background: white;
  padding: 42px 40px;
  border-radius: 25px;
  box-shadow: 0px 0px 13px 0px grey;
  margin-bottom: 28px;
}

.partThree h5 {
  font-family: font2;
  color: #009b72;
}

footer>.row {
  background-color: #192d35 !important;
  padding: 80px 60px;
  color: white;
}

footer h2 {
  font-family: font2;
  margin-top: 60px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul a {
  color: white;
}

footer ul li {
  margin-bottom: 4px;
}

.desktopOff {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.5rem 2rem;
  }

  .mobileOff {
    display: none !important;
  }

  .desktopOff {
    display: block !important;
    z-index: 1000;
  }

  input[type="text"] {
    padding: 10px 15px;
    width: 100%;
  }

  .partTwo {
    padding: 50px 20px;
  }

  .partTwo span {
    padding: 28px 24px;
    margin-bottom: 17px;
  }

  .partThree {
    padding: 50px 20px;
  }

  .partThree .p1 {
    padding: 0px 18px;
    margin-bottom: 36px;
  }

  .partThree span {    
    padding: 31px 19px;    
    margin-bottom: 22px;
 }

 footer > .row {
  padding: 50px 20px;
}
footer h2 {
   margin-top: 7px;
}
footer h4 {
  margin-top: 24px;
}

}